<h1><%= @category.name %></h1>
<%= link_to 'edit', edit_category_path(@category), class: "btn btn-default btn-xs" %>
<%= link_to 'delete', @category, method: :delete,  class: "btn btn-default btn-xs", 
                                  data: { confirm: 'Are you sure?' } %>
<%= render 'prize_listing' %>
<%= link_to 'add prize', new_category_prize_path(@category), class: "btn btn-success" %>
