<%= f.fields_for :prize_elements do |builder| %>
    <div class="prize-element">
      <div class="form-group col-md-3 input-group">
        <span class="input-group-addon">$</span>
        <%= builder.label :value, class: "sr-only" %>
        <%= builder.number_field :value, class: "form-control", placeholder: "value" %>
      </div>
      <div class="form-group col-md-9">
        <%= builder.label :name, class: "sr-only" %>
        <%= builder.text_field :name, class: "form-control", placeholder: "name" %>
      </div>
      <%= builder.hidden_field :_destroy %>
      <a onclick="remove_fields(this); return false;" href="#">
        <button type="button" class="close" aria-hidden="true">&times;</button>
      </a>
    </div>
  <% end %>
