<%= form_for([@category,@prize]) do |f| %>
<p>
  <%= f.check_box :active %>
  <%= f.label :active %>
</p>
  <%= f.fields_for :prize_elements do |builder| %>
  <p class='fields'>
    <%= builder.label :value, "Value" %>
    <%= builder.number_field :value, size: 5 %>
    <%= builder.label :name, "Name" %>
    <%= builder.text_field :name %>
  </p>
  <% end %>

<%= f.submit %>
<% end %>