<%= form_for([@category,@prize], html: {role: "form"})  do |f| %>
<div class="form-group">
  <%= f.check_box :active, :checked => @prize.active? %>
  <%= f.label :active, "This prize is available" %>
</div>
<div class="form-wrapper">
  <%= render 'prize_element_fields', f: f %>
  <%= f.submit class: "btn btn-success" %>
</div>
<% end %>



