<div class="category-container">
<% @categories.each do |category| %>
<%= content_tag(:div, class: "category-holder", id: "category-#{category.id}") do -%>
  <div class="category-header"><%= link_to category.name, prizeboard_path(category) %></div>
  <% category.prizes.each do |prize| %>
      <%= content_tag(:div, class: "prizeboard-prize", data: {active: prize.active}) do %>
      <div class="prizeboard-title"><%= prize.title %></div>
      <%= prize.description %>
      <% end %>
  <% end %>
<% end -%>
<% end %>
</div>


